{% set defaults = {

    heading: '',
    content: '',
    cards: '',
    appearance: 'light',
    classes: '',
} %}

{% set heading = heading ?: defaults.heading %}
{% set subheading = subheading ?: defaults.subheading %}
{% set cards = cards ?: defaults.cards %}
{% set appearance = appearance ?: defaults.appearance %}
{% set classes = block.className ?: default.classes %}


{% set base = 'ComparisonCards' %}
{% set classes = [
    base~"--"~appearance,
    base~"--"~layout,
    base,
    classes
] %}

<section class="{{ classes|join(' ') }}">
    <div class="container">
        {% if heading %}
            <header class="{{ base }}__header">
                <h3 class="{{ base }}__heading">{{ heading }}</h3>
                {% if content %}
                    <p class="{{ base }}__content">{{ content }}</p>
                {% endif %}
            </header>
        {% endif %}
        <div class="{{ base }}__card-wrapper">
            {% for card in cards %}
                <article class="{{ base }}__card">
                    <h4 class="{{ base }}__card-leadin">{{ card.title }}</h4>
                    {% if card.icon %}
                        {% include 'Components/Image/Image.twig' with {
                            image: card.icon,
                            base: base,
                            classes: 'icon',
                        } only %}
                    {% endif %}
                    {% if card.heading %}
                        <p class="{{ base }}__card-heading">{{ card.heading }}</p>
                    {% endif %}
                    {% if card.subheading %}
                        <p class="{{ base }}__card-footnote">{{ card.subheading }}</p>
                    {% endif %}
                    {% if card.content %}
                        <p class="{{ base }}__card-content">{{ card.content }}</p>
                    {% endif %}
                    {% if card.list %}
                        <div class="{{ base }}__card-list">
                            {% for li in card.list %}
                                <p>
                                    <span class="{{ base }}__checkmark">{{ svg_inline('Icon_CircleCheck') }}
                                    </span>
                                    {{ li.text }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if card.link %}
                        <div class="{{ base }}__link">
                            {% include 'Components/Button/ButtonSecondary.twig' with {
                                link: card.link,
                                appearance: 'light'
                            } only %}
                        </div>
                    {% endif %}
                </article>
            {% endfor %}
        </div>
    </div>
</section>
