<article class="preview">
	{% if featured_image %}
		<div class="preview__image">
			<a href="{{ link }}">
				<img srcset="{{ featured_image.srcset }}" src="{{ featured_image.src }}">
			</a>
		</div>
	{% endif %}
	<a href="{{ link }}">
		<h3 class="preview__title text-md lg:text-lg">{{ title }}</h3>
	</a>
	<div class="preview__date">
		<p>{{ date.posted }}</p>
	</div>
	<div class="preview__content">{{ excerpt }}</div>
</article>
