{#
/*
 * Available variables:
 * - heading
 * - content
 * - icon { url, alt }

 testimonials:
    WP_Post

 modifiers:
    block.align: full or wide

 */
#}

{% set defaults = {

    heading: '',
    subheading: '',
    link: false,
    icon: { url: '' },
    testimonials: {
        1: {
            quote: 'Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.',
            person: 'Dave Thomason',
            title: 'Pastor',
        },
    },
} %}

{% set icon = icon ?: defaults.icon %}
{% set heading = heading ?: defaults.heading %}
{% set content = content ?: defaults.content %}
{% set testimonials = testimonials ?: defaults.testimonials %}


{% set base = 'Testimonials' %}
{% set classes = [
    base~"--"~appearance,
    base~"--"~layout,
    base,
] %}

<section class="{{ classes|join(' ') }}">
    <div class="container">
        <div class="{{ base }}__inner">
            <header class="{{ base }}__header">
                {% if icon %}
                    {% include 'Components/Image/Image.twig' with {
                        image: icon,
                        base: base,
                    } only %}
                {% endif %}
                <div class="{{ base }}__heading">{{ heading }}</div>
                <div class="{{ base }}__content">{{ content }}</div>
                {% if link %}
                {% include 'Components/Button/ButtonPrimary.twig' with {
                    link: link,
                    appearance: appearance,
                } only %}
                {% endif %}
            </header>
            <div class="{{ base }}__wrapper">
                {% for single in testimonials %}
                    <div class="{{ base }}__single">
                        <p class="{{ base }}__quote">
                            {{ single.post_content }}
                        </p>
                        <div class="{{ base }}__details-wrapper">
                            {% include 'Components/Image/Image.twig' with {
                                image: single.post_thumbnail,
                                base: base,
                                css_classes: 'object-fit Testimonials__profile-pic',
                            } only %}
                            <div class="{{ base }}__details">
                                <div class="{{ base }}__name">{{ single.post_title }}</div>
                                <div class="{{ base }}__title">{{ single.position }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>