{#{{ dump() }}#}
{% set classes = [
    base,
    "width--#{block.align}",
] %}
<section class="{{ classes|join(' ')|e }}">
    <div class="{{ base }}__inner container">
        <picture class="{{ base }}__image">
            <source srcset="{{ image.srcset|e }}" sizes="{{ image.img_sizes|e }}">
            <img src="{{ image.src|e ?: get_dist_image_uri('image-default-fullwidth.jpg') }}"
                 srcset="{{ image.srcset }}">
        </picture>
        <div class="{{ base }}__content">
            {% if heading %}
                <h2 class="{{ base }}__heading">{{ __(heading|e, 'view') }}</h2>
            {% endif %}
            {% if subheading %}
                <h3 class="{{ base }}__subheading">{{ __(subheading|e, 'view') }}</h3>
            {% endif %}

            {% include 'Components/Button/Button.twig' with {
                title: link.title,
                link: link.url,
            } only %}
        </div>
    </div>
</section>