<section class="blurbs {{ classes }} py-8">
	<div class="blurbs__wrapper container">
		<header class="blurbs__header">
			<h3 class="">{{ heading }}</h3>
			<p class="blurbs__description">{{ description }}</p>
		</header>
		<div class="blurbs__items grid-max-4">
			<div class="grid-container">
				{% for blurb in items %}
					<article class="blurb__item grid-item">
						<div class="grid-item-inner">
							<h4 class="blurb__title">{{ blurb.heading }}</h4>
							<p class="blurb__description">{{ blurb.description }}</p>
						</div>
					</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
