{#
/**
 * @file
 * Accordion Block
 *
 * Available variables:
 * - heading: The title for this region.
 * - content: The description for this region.
 * - items: Repeatable content for this region, commonly used for FAQ-like patterns.
 *   - heading: The title for this item.
 *   - content: The content for this item.
 *
 * @see _core/models/blocks/accordion & _core/filters/blocks/accordion
 *
 */
#}
<section class="accordion {{ classes }}">
	<div class="container md:flex py-8">
		<header class="accordion__header md:mr-12 md:w-1/3">
			<h2 class="accordion__heading">{{ heading }}</h2>
			<div class="accordion__description">{{ content }}</div>
		</header>
		<div class="accorion__items md:w-2/3">
			{% for item in items %}
				<article class="accordion-item mb-4">
					<header class="accordion-item__heading flex justify-between items-center">
						<h3>{{ item.heading }}</h3>
						<button>
							<svg class="icon">
								<use xlink:href="#icon-chevron-down"/>
							</svg>
						</button>
					</header>
					<div class="accordion-item__content" aria-hidden="true">
						{{ item.content }}
					</div>
				</article>
			{% endfor %}
		</div>
	</div>
</section>
