{#{{ dump() }}#}
{% set base = 'menu-footer' %}
<nav class="{{ base }}">
    {% if title %}
        <h3 class="{{ base }}__title">{{ title }}</h3>
    {% endif %}
    {{ menu({
        'menu'            : 'menu_footer',
        'theme_location'  : 'menu_footer',
        'container'       : false,
        'container_id'    : '',
        'container_class' : base,
        'menu_id'         : false,
        'menu_class'      : "#{base}__list",
        'depth'           : 2,
    }) }}
</nav>