{#
/**
 * Available variables:
 * - image
 * - heading
 * - content
 * - link { url, target, title}
 * - appearance ['light', 'dark']
 * - alignment ['left', 'center']
 * - width ['full', 'narrow']
 */
#}

{% set defaults = {

    image: {
        url: '#',
        alt: 'Learn More',
    },
    heading: '',
    content: '',
    form: false,
    link: {
        target: '_blank',
        title: 'Learn More',
        url: '#',
    },
    appearance: 'light',
    alignment: 'left',
    width: 'full',
    css_classes: '',
    blockAlign: 'full',
} %}

{% set image = image ?: defaults.image %}
{% set heading = heading ?: defaults.heading %}
{% set content = content ?: defaults.content %}
{% set link = link ?: default.link %}
{% set form = form ?: defaults.form %}
{% set appearance = appearance ?: defaults.appearance %}
{% set alignment = alignment ?: defaults.alignment %}
{% set css_classes = block.className ?: default.css_classes %}
{#{% set blockAlign = block.align ? blockAlign %}#}

{#{{ dump(blockAlign) }}#}

{% set base = 'CTA' %}
{% set classes = [
    base~"--"~appearance,
    base~"--"~alignment,
    form ? base~"--form",
    blockAlign ? base~"--"~blockAlign : '',
    block.align ? base~"--"~block.align : '',
    css_classes,
    base,
] %}

<section class="{{ classes|join(' ') }}">
    <div class="container">
        <div class="{{ base }}__wrapper">
            {% if heading or content  %}
            <div class="{{ base }}__primary">
                <div class="{{ base }}__heading">{{ heading }}</div>
                {% if content %}
                    <div class="{{ base }}__content">{{ content }}</div>
                {% endif %}
            </div>
            {% endif %}
            <div class="{{ base }}__secondary">
                {% if form %}
                    {{ form.html }}
                {% endif %}
                {% if link %}
                    {% if alignment == 'left' %}
                        {% include 'Components/Button/ButtonPrimary.twig' with {
                            link: link,
                            appearance: appearance,
                        } only %}

                    {% endif %}
                    {% if alignment == 'center' %}
                        <div class="{{ base }}__link">
                            {% include 'Components/Button/ButtonSecondary.twig' with {
                                link: link,
                                appearance: appearance,
                            } only %}</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>