{#{{ dump() }}#}
{% set classes = [
    layout,
    width,
] %}
<section class="{{ classes|join(' ') }}">
    <div class="container">
        <h3 class="{{ layout }}__title">{{ post.title.rendered }}</h3>
        <div class="{{ layout }}__content">{{ post.content.rendered }}</div>
        <div class="{{ layout }}__author">
            {% if post.featured_image %}
                {% set image = post.featured_image %}
                <figure class="{{ layout }}__author-image object-fit">
                    <img src="{{ image.url }}" alt="{{ image.alt }}">
                </figure>
            {% endif %}
            <div class="{{ layout }}__author-credentials">
                <h4 class="{{ layout }}__author-name">{{ post.name }}</h4>
                <h5 class="{{ layout }}__author-position">{{ post.position }}</h5>
            </div>
        </div>
    </div>
</section>