{# {{dump()}} #}
{% set base = 'single' %}
<section class="{{ classes|join(' ') }}">
    <header class="{{ base }}__header">
        <section class="{{ base }}__intro">
            {% if featured_image %}
                <div class="{{ base }}__thumbnail">
                    {% include "components/picture/picture.twig" with featured_image only %}
                </div>
            {% endif %}
            <div class="{{ base }}__details">
                <h1 class="{{ base }}__title">{{ title }}</h1>
                <p class="{{ base }}__date">{{ date.posted }}</p>
            </div>
        </section>
    </header>
    {{ content }}
</section>
