{#{{ dump() }}#}
{% set classes = [
    base
] %}
<section class="{{ classes|join(' ') }}"
         style="background-color: {{ background_color }}">
    <div class="{{ layout }}__inner container">
        <div class="{{ layout }}__primary">

        </div>
        <div class="{{ layout }}__secondary">

        </div>
    </div>
</section>