{#
/**
 * @file
 * Standard button component
 *
 * Available variables:
 * - classes:
 * - title:
 * - link:
 * - svg_icon_inline: If we want to inline an SVG icon directly
 * - sprite_icon: If we want to use an SVG from the Sprite
 */
#}
<a class="button {{ classes|join(' ')|e }}" href="{{ link|e('esc_url') ?: '#' }}" target="{{ target|e ?: '' }}">
    <span>{{ __(title ? title|e : 'Click here', 'view') }}</span>
    {% if sprite_icon %}
        <use xlink:href="#{{ sprite_icon }}"/>
    {% endif %}
    {% if svg_icon_inline %}
        {{ svg_inline(svg_icon) }}
    {% endif %}
</a>