{% set base = 'MenuMobile' %}
{% set classes = [
    base,
] %}

<nav id="menuMobile"
     class="{{ classes|join(' ') }}"
     aria-hidden="true">
    <button id="menuMobileOpen" class="{{ base }}__open">
        <span>Menu</span>
        {#<svg class='icon'>#}
            {#<use xlink:href='#icon-bars'/>#}
        {#</svg>#}
    </button>
    <div class="{{ base }}__inner">
        <div id="menuMobileOverlay" class="{{ base }}__overlay"></div>
        <div class="{{ base }}__content">
            <section class="{{ base }}__header">
                <div class="{{ base }}__logo">
                    <a href="{{ function('get_home_url') | e('esc_url') }}">
                        {#{{ svg_inline('logo') }}#}
                    </a>
                </div>
                <button id="menuMobileClose" class="{{ base }}__button">
                    <svg class='icon'>
                        <use xlink:href='#icon-times'/>
                    </svg>
                </button>
            </section>
            {% include 'Globals/MenuPrimary/MenuPrimary.twig' %}
            {#{% include 'Globals/MenuSocial/MenuSocial.twig' %}#}
        </div>
    </div>
</nav>