{% for blurb in blurbs %}
    {% set classes = [
        base~"__blurb",
        base~"__blurb--"~layout,
        base~"__blurb--"~blurb.columns,
    ] %}
    <div class="{{ classes|join(' ') }}">
        {% if blurb.columns == 1 %}
            <div class="{{ base }}__blurb-inner">
                <div class="{{ base }}__blurb-primary">
                    {% if blurb.lead_in %}
                        <h5 class="{{ base }}__lead-in">
                            {{ blurb.lead_in }}
                        </h5>
                    {% endif %}
                    <div class="{{ base }}__title">
                        {% if blurb.link %}
                        <a href="{{ blurb.link.url }}" target="{{ blurb.link.target }}">
                        {% endif %}
                            {% include 'Components/Image/Image.twig' with {
                                image: blurb.icon,
                                base: base,
                            } only %}
                        {% if blurb.link %}
                        </a>
                        {% endif %}
                        <h4 class="{{ base }}__blurb-heading">
                            {{ blurb.heading }}
                        </h4>
                    </div>
                    <div class="{{ base }}__blurb-content">
                        {{ blurb.content }}
                    </div>
                </div>
                <div class="{{ base }}__blurb-secondary">
                    <ul>
                        {% for item in blurb.list %}
                            <li>{{ item.text }}</li>
                        {% endfor %}
                    </ul>
                    {% if blurb.link %}
                        {% include 'Components/Button/ButtonPrimary.twig' with {
                            link: blurb.link,
                            size: 'small',
                            appearance: appearance,
                        } only %}
                    {% endif %}
                </div>
            </div>

        {% else %}
            <div class="{{ base }}__blurb-inner">
                <div class="{{ base }}__title">
                    {% if blurb.link %}
                    <a href="{{ blurb.link.url }}" target="{{ blurb.link.target }}">
                    {% endif %}
                        {% include 'Components/Image/Image.twig' with {
                            image: blurb.icon,
                            base: base,
                        } only %}
                    {% if blurb.link %}
                     </a>
                    {% endif %}
                    <h4 class="{{ base }}__blurb-heading">
                        {{ blurb.heading }}
                    </h4>
                </div>
                <div class="{{ base }}__blurb-content">
                    {{ blurb.content }}
                    {% if blurb.link %}
                        {% include "Components/Button/ButtonTertiary.twig" with {
                            link: blurb.link,
                            appearance: appearance,
                            size: 'small',
                        } only %}
                    {% endif %}
                </div>
            </div>

        {% endif %}
    </div>
{% endfor %}