{% set base = 'Page' %}
{% set classes = [
    base,
] %}

<section class="{{ classes|join(' ') }}" style="background: {{ post.custom.background_color ?: '#fff' }}">
        {% if template %}
            {% set template_name = generate_view_name(template) %}
            <h1 class="screen-reader-text">{{ post.title }}</h1>
            {% include "PageTemplates/#{template_name}/#{template_name}.twig" %}
        {% else %}
            <h1 class="screen-reader-text">{{ post.title }}</h1>
            {{ post.content }}

        {% endif %}
</section>
