{% set base = "feat_case-study" %}
<main class="">
    {% set hero = "main__hero" %}
    <div class="{{ hero }}">
        <div class="{{ hero }}__bg-video">
            <video width="100%" id="video-background" autoplay="" loop="" muted="" playsinline="true">
                <source src="https://pyxl.com/wp-content/uploads/Pyxl_B-roll.mp4" type="video/mp4">
            </video>
        </div>
        <div class="{{ hero }}__content">
            <h3 class="{{ hero }}__card-title">Title</h3>
            <p class="{{ hero }}__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    </div>
    <div class="{{ base }} container">
        <div class="{{ base }}__primary">
            <h4 class="{{ base }}__subheader">Client Name</h4>
            <h3 class="{{ base }}__title">Leadin text for this paragraph.</h3>
            <p class="{{ base }}__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
            <a href="#" class="{{ base }}__cta button-terchiary"><span>Lorem Ipsum</span></a>
            <div class="{{ base }}__testimonial"><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam."</p>
                <h6>–Lorem Ipsum</h6>
            </div>
        </div>
        <div class="{{ base }}__secondary">
            <figure class="{{ base }}__image object-fit">
                <img src="https://pyxl.com/wp-content/uploads/Pyxl-Website_AV-Case-Study_700x950.png" alt="stuff stuff stuff">
            </figure>
            <div class="{{ base }}__category">
                <span class="{{ base }}__categories"><span>Category</span><span>Category</span><span>Category</span></span>
                <div class="{{ base }}__awards">
                    <p><a class="button-small" href=""><span>Silver Addy</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-css-card parallax-css kit1">
        <h3 class="hero__card-title hero__card-title-2">Let's Chat</h3>
        <a class="button-lt" href="#">
                <span>
                    Lorem Ipsum
                    <svg class="button-arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14.8px"
                         height="10.96px" viewBox="0 0 14.8 10.96" style="enable-background:new 0 0 14.8 10.96;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke: #000000;
                            stroke-miterlimit: 10;
                        }
                    </style>
                    <defs>
                    </defs>
                    <line class="st0 draw-in-arrow" x1="0" y1="5.48" x2="14.09" y2="5.48"/>
                    <polyline class="st0 draw-in-arrow" points="8.97,0.35 14.09,5.48 8.97,10.6 "/>
                    </svg>
                </span>
        </a>

    </div>
    {#    <div class="feat-posts">#}
    {#        <div class="feat-posts__primary">#}
    {#            <figure>#}
    {#                <img src="http://placehold.it/175x80" alt="">#}
    {#            </figure>#}
    {#            <div class="__content">#}
    {#                <h4 class="__subheader">Client Name</h4>#}
    {#                <h3 class="__title">This client work is the gawdamn best.</h3>#}
    {#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco#}
    {#                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>#}
    {#                <a href="button"><span>Lorem Ipsum</span></a>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="feat-posts__secondary">#}
    {#            <div class="feat-posts__post">#}
    {#                <figure>#}
    {#                    <img src="http://placehold.it/175x80" alt="">#}
    {#                </figure>#}
    {#                <div class="feat-posts__content">#}
    {#                    <h4 class="__subheader">Client Name</h4>#}
    {#                    <h3 class="__title">This client work is the gawdamn best.</h3>#}
    {#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco#}
    {#                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>#}
    {#                    <a href="button"><span>Lorem Ipsum</span></a>#}
    {#                </div>#}
    {#            </div>#}

    {#        </div>#}
    {#    </div>#}
    {#    <div class="feat-article container">#}
    {#        <div class="feat-article__primary">#}
    {#            <article>#}
    {#                <figure>#}
    {#                    <img src="http://placehold.it/800x300" alt="">#}
    {#                </figure>#}
    {#                <h3>Lorem Ipsum</h3>#}
    {#                <h6>Lorem Ipsum Lorem Ipsum</h6>#}
    {#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...</p>#}
    {#            </article>#}
    {#        </div>#}
    {#        <div class="feat-article__secondary">#}
    {#            <article>#}
    {#                <figure>#}
    {#                    <img src="http://placehold.it/175x80" alt="">#}
    {#                </figure>#}
    {#                <h3>Lorem Ipsum</h3>#}
    {#                <h6>Lorem Ipsum Lorem Ipsum</h6>#}
    {#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>#}

    {#            </article>#}
    {#            <article>#}
    {#                <figure>#}
    {#                    <img src="http://placehold.it/200x80" alt="">#}
    {#                </figure>#}
    {#                <h3>Lorem Ipsum</h3>#}
    {#                <h6>Lorem Ipsum Lorem Ipsum</h6>#}
    {#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>#}
    {#            </article>#}
    {#        </div>#}
    {#    </div>#}

    <div class="parallax-css-card parallax-css specialization kit4">
        <div class="specialization__card">
            <h1>Wordpress</h1>
            <p>• Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
            <p></p>
            <p>• Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
            <p></p>
        </div>
        <div class="specialization__secondary">
            <article>
                <h4>Title of Article</h4>
                <h6>category</h6>
            </article>
            <article>
                <h4>Title of Article</h4>
                <h6>category</h6>
            </article>
            <article>
                <h4>Title of Article</h4>
                <h6>category</h6>
            </article>
        </div>
    </div>

</main>