{#
/**
 * @file
 * Hero Block
 *
 * Available variables:
 * - heading: The title for this region.
 * - content: The description for this region.
 * - link: The link for this region.
 * - type: The type for this region to determine media asset shown.
 * - image: The image for this region.
 * - video: The video for this region.
 *
 * @see _core/models/blocks/hero & _core/filters/blocks/hero
 *
 */
#}
<section class="hero {{ classes }}">
	<div class="hero__wrapper relative">
		<div class="hero__asset absolute w-full h-full z-10 overflow-hidden object-fit inset-0">
			{% if 'video' == type and video %}
				<video autoplay muted loop title="{{ video.alt }}">
					<source src="{{ video.url }}" type="video/mp4">
				</video>
			{% elseif 'image' == type and image is iterable %}
				<img class="w-full h-full" srcset="{{ image.srcset }}" src="{{ image.src }}" alt="{{ image.alt }}">
			{% endif %}
		</div>
		<div class="hero__content container relative z-20 flex items-end">
			<div class="hero__content-inner mb-8 md:mb-16 mt-16 md:mt-64 max-w-xl text-light">
				<p class="hero__leadin mb-0 font-primary">{{ lead_in }}</p>
				<h2 class="hero__heading">{{ heading }}</h2>
				<p class="hero__description">{{ description }}</p>
				{% if link %}
					<a class="btn" href="{{ link.url }}" target="{{ link.target }}">
						<span>{{ link.title }}</span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
