{#{{ dump() }}#}
{% set base = 'Footer' %}
{% set classes = [
    base
] %}
<footer id="{{ base }}" class="{{ classes|join(' ') }}">
    <section class="{{ base }}__top container">
        <div class="{{ base }}__primary">

        </div>
        <div class="{{ base }}__secondary">
        </div>
    </section>
    {% include 'Globals/BottomBar/BottomBar.twig' %}
    {{ function('wp_footer') }}
</footer>
<!-- #Footer -->
