{{dump()}}
<section class="featurette-basic {{ classes }}">
	<div class="container md:flex items-center justify-center">
		<div class="featurette-basic__background">
			{% if 'video' == type and background_video %}
				<video autoplay muted loop title="{{ background_video.alt }}">
					<source src="{{ background_video.url }}" type="video/mp4">
				</video>
			{% elseif 'image' == type and background_image %}
				{% include 'component/picture/picture.twig' with background_image only %}
			{% endif %}
		</div>
		<div class="featurette-basic__inner p-5 bg-light">
			<h2 class="featurette-basic__heading">{{ heading }}</h2>
			<div class="featurette-basic__content">{{ content }}</div>
			{% if link %}
				<a class="btn" href="{{ link.url }}" target="{{ link.target }}">
					<span>{{ link.title }}</span>
				</a>
			{% endif %}
		</div>
	</div>
</section>
