{#
/**
 * @file
 * Featurette Block
 *
 * Available variables:
 * - heading: The title for this region.
 * - content: The description for this region.
 * - link: The link for this region.
 * - type: The type for this region to determine media asset shown.
 * - image: The image for this region.
 * - video: The video for this region.
 *
 * @see _core/models/blocks/featurette & _core/filters/blocks/featurette
 *
 */
#}
<section class="featurette {{ classes }}">
	<div class="container md:flex items-center">
		<div class="featurette__asset">
			{% if 'video' == type and video %}
				<video autoplay muted loop title="{{ video.alt }}">
					<source src="{{ video.url }}" type="video/mp4">
				</video>
			{% elseif 'image' == type and background_image %}
				{% include 'component/picture/picture.twig' with background_image only %}
			{% endif %}
		</div>
		<div class="featurette__inner">
			<h3 class="featurette__leadin text-sm">{{ lead_in }}</h3>
			<h2 class="featurette__heading">{{ heading }}</h2>
			<div class="featurette__content">{{ content }}</div>
			{% if link %}
				<a class="btn" href="{{ link.url }}" target="{{ link.target }}">
					<span>{{ link.title }}</span>
				</a>
			{% endif %}
		</div>
	</div>
</section>
