{#{{ dump() }}#}
{% set base = 'Pages' %}
{% set classes = [
    base,
] %}

<section class="{{ classes|join(' ') }}">
    {% if template %}
        {% set template_name = generate_view_name(template) %}
        <h1 class="screen-reader-text">{{ post.title }}</h1>
        {% include "PageTemplates/#{template_name}/#{template_name}.twig" %}
    {% else %}
        <div class="container">
            <article class="{{ base }}__content">
                <h1>{{ post.title }}</h1>
                {{ post.content }}
            </article>
        </div>
    {% endif %}
</section>
