{#{{ dump() }}#}
{% set slider_options = {
    'draggable': true,
    'autoPlay': '3000',
    'wrapAround ': true,
    'prevNextButtons': false,
    'contain': true,
    'pageDots': false,
} %}
{% set classes = [
    base
] %}
<section class="{{ classes|join(' ') }}" data-grayscale="{{ grayscale }}">
    {% if title %}
        <header class="{{ layout }}__header">
            <div class="container">
                <h3 class="{{ layout }}__title">{{ title }}</h3>
                {% if link %}
                    <a href="{{ link.url }}" target="{{ link.target }}" class="{{ layout }}__button button">
                        <span>{{ link.title ?: 'Learn More' }}</span>
                    </a>
                {% endif %}
            </div>
        </header>
    {% endif %}
    {{ enqueue_script('flickity') }}
    {{ enqueue_style('flickity') }}
    <div class="{{ layout }}__items js-flickity" data-flickity='{{ stringify(slider_options) }}'>
        {% for item in images %}
            {#{{ dump(blurb) }}#}
            <div class="{{ layout }}__item carousel-cell">
                <img src="{{ item.image.url }}">
            </div>
        {% endfor %}
    </div>
</section>