{#{{ dump() }}#}
{% set classes = [
    layout,
    width,
] %}
{% set featured = posts|first %}
{% set terms = post.terms %}
<section class="{{ classes|join(' ') }}">
    <div class="container">
        <header class="{{ layout }}__header">
            <h3 class="{{ layout }}__heading">{{ heading }}</h3>
        </header>
        <div class="{{ layout }}__inner">
            <div class="{{ layout }}__primary">
                <article class="{{ layout }}__post">
                    <a href="{{ featured.link }}">
                        <figure>
                            {#{{ dump(featured.thumbnail) }}#}
                            <img src="{{ featured.thumbnail.src('large') }}" alt="">
                        </figure>
                    </a>
                    <a href="{{ featured.link }}">
                        <h3 class="{{ layout }}__title">{{ featured.title }}</h3>
                    </a>
                    {% if featured.terms %}
                        {% include "Components/Terms/Terms.twig" %}
                    {% endif %}
                </article>
            </div>
            <div class="{{ layout }}__secondary">
                <div class="{{ layout }}__posts">
                    {% for i, post in posts|slice(1,4) %}
                        <article class="{{ layout }}__post">
                            <figure class="{{ layout }}__image">
                                <a href="{{ post.link }}">
                                    <img src="{{ post.thumbnail.src('thumbnail') }}"
                                         alt="{{ post.thumbnail.alt }}"
                                         width="{{ post.thumbnail.sizes.thumbnail.width }}"
                                         height="{{ post.thumbnail.sizes.thumbnail.height }}">
                                </a>
                            </figure>
                            <div class="{{ layout }}__copy">
                                <a href="{{ post.link }}">
                                    <h3 class="{{ layout }}__title">{{ post.title }}</h3>
                                </a>
                                {% if post.terms %}
                                    {% include "Components/Terms/Terms.twig" %}
                                {% endif %}
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>