{# {{ dump() }} #}
{% set base = 'header' %}
<header class="{{ base }}">
    <div class="container">
        <div class="{{ base }}__wrapper">
            <div class="{{ base }}__logo">
                <a href="{{ home_link }}">
                    <span>Logo</span>
                </a>
            </div>
            <div class="{{ base }}__menu-wrapper">
                {# {% include "Globals/MenuHeader/MenuHeader.twig" with {
                    menus: menus
                } only %} #}
            </div>
        </div>
    </div>
</header>