{#{{ dump() }}#}
{% set base = 'SinglesPost' %}
{% set classes = [
    base
] %}
<section class="{{ classes|join(' ') }}">
    <header>
        <img class="{{ base }}__featured-image" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
        <a href="" class="{{ base }}__back">
            <span>Back</span>
        </a>
    </header>
    <div class="container">
        <article>
            <h1 class="{{ base }}__title">{{ post.post_title }}</h1>
            <div class="{{ base }}__content width--content">
                {{ post.content }}
            </div>
        </article>
    </div>
</section>
