<ul class="menu menu--{{ slug ? 'general' }} py-4 md:py-0 md:flex">
	{% for item in items %}
		<li class="menu-item">
			<a class="menu-link md:px-4 py-2 md:py-4" href="{{ item.url }}" target="{{ item.target }}">
				{% if icon %}
					<svg class="icon">
						<use xlink:href="#icon-{{ icon|lower }}"/>
					</svg>
				{% else %}
					<span>{{ item.title }}</span>
				{% endif %}
			</a>
		</li>
	{% endfor %}
</ul>
