{# {{dump()}} #}
{% if items %}
    <ul class="social_menu__list flex flex-wrap">
        {% for item in items %}
        {{dump(item)}}
            <li class="social_menu__item">
                <a class="social_menu__link" href="{{ item.url }}" target="{{ item.target }}">
                    <svg class="icon h-10 w-10">
                        <use xlink:href="#icon-{{ item.slug }}"/>
                    </svg>
                    <span class="screen-reader-text">{{ title }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
