{% set base = 'BottomBar' %}
<section class="{{ base }}">
    <div class="container">
        <div class="{{ base }}__wrapper">
            <div class="{{ base }}__primary">
                <div class="{{ base }}__logo">
                    <a href="{{ home_link }}">
                        {{ svg_inline('Elexio_Logo') }}
                    </a>
                </div>
            </div>
            <div class="{{ base }}__secondary">
                <small class="{{ base }}__copyright">Copyright ©2019 ELEXIO. <a class="{{ base }}__privacy-policy" href="/privacy-terms">Privacy & Terms</a></small>
            </div>
        </div>
    </div>
</section>
