{#{{ dump() }}#}
{% set classes = [
    layout,
    dark ?: 'dark',
    width,
] %}
<section class="{{ classes|join(' ') }}">
    <figure class="{{ layout }}__background object-fit">
        <img src="{{ image.sizes.full }}" alt="{{ image.alt }}">
    </figure>
    <div class="{{ layout }}__overlay"
         style="background-color: {{ background_color ?: '#293548' }}; opacity: {{ opacity ?: '.3' }}"></div>
    <div class="{{ layout }}__inner container">
        <h2 class="{{ layout }}__heading">{{ heading }}</h2>
        <h3 class="{{ layout }}__subheading">{{ subheading }}</h3>
        <div class="{{ layout }}__content">{{ content }}</div>
        {% if link %}
            <a href="{{ link.url }}" target="{{ link.target }}" class="{{ layout }}__button button">
                <span>{{ link.title }}</span>
            </a>
        {% endif %}
    </div>
</section>