{% set base = 'Pagination' %}
{% set classes = [
    base,
] %}

<section class="{{ base }}">
    <div class="container">
        <div class="{{ base }}__inner">
            {% if prev %}
                {% include "Components/Button/ButtonPrimary.twig" with {
                    link: {
                        url: prev.link,
                        title: '',
                    },
                    classes: [
                        base~"__prev",
                    ]
                } only %}
            {% endif %}
            <ul class="{{ base }}__pages">
                {% for page in pages %}
                    <li class="{{ base }}__page">
                        {% if page.link %}
                            <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                        {% else %}
                            <span class="{{ page.class }}">{{ page.title }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if next %}
                {% include "Components/Button/ButtonPrimary.twig" with {
                    link: {
                        url: next.link,
                        title: '',
                    },
                    classes: [
                        base~"__next",
                    ]
                } only %}
            {% endif %}
        </div>
    </div>
</section>
