{% set base = 'search-results' %}

<section class="{{ base }}">
    <header class="{{ base }}__header">
        <div class="container">
            {% if posts | length > 0 %}
                <h1>{{ __("Results for", 'view') }}: {{ search_query }}</h1>
            {% else %}
                <h1>{{ __("Sorry, no results found for", 'view') }} "{{ search_query }}"</h1>
            {% endif %}
        </div>
    </header>
    <section class="{{ base }}__posts">
        <div class="container">
            {% if posts | length > 0 %}
                {% for post in posts %}
                    {% include "components/post_preview/post_preview.twig" %}
                {% endfor %}
            {% else %}
                {# No results #}
            {% endif %}
        </div>
    </section>
    <section class="{{ base }}__pagination">
        <div class="container">
            {% include "components/pagination/pagination.twig" %}
        </div>
    </section>
</section>