{#{{ dump() }}#}
{% set base = 'Single' %}
{% set classes = [
    base
] %}
{% set terms = post.terms %}
<section class="{{ classes|join(' ') }}">
    <header class="{{ base }}__header">
        <section class="{{ base }}__intro">
            <div class="container">
                {% if post.terms %}
                    {% include "Components/Terms/Terms.twig" with terms %}
                {% endif %}
                <h1 class="{{ base }}__title">{{ __(post.post_title|e, 'view') }}</h1>
                {#<p class="{{ base }}__date">{{ __("Posted on #{} by <a href='#{post.author.link}'>#{ post.author.first_name }</a>", 'view') }}</p>#}
                <p class="{{ base }}__credit">{{ __('Posted on %1$s by'|format(post.date('F jS Y')|e, post.author.first_name|e), 'view') }}
                    <span class="{{ base }}__author">
                        <a href="{{ post.author.link|e('esc_url') }}">{{ post.author.first_name|e }}</a>
                    </span>
                </p>
            </div>
        </section>
        {% if post.thumbnail %}
            <section class="{{ base }}__graphic">
                <div class="container">
                    <img class="{{ base }}__featured-image" src="{{ post.thumbnail.src }}"
                         alt="{{ post.thumbnail.alt }}">
                </div>
            </section>
        {% endif %}
    </header>
    <div class="container">
        <article>
            <div class="{{ base }}__content">
                {{ post.content }}
            </div>
        </article>
    </div>
</section>
