{#{{ dump() }}#}
{% set classes = [
    layout,
    module_width,
] %}
<section class="{{ classes|join(' ') }}">
    <div class="{{ layout }}__wrapper container">
        <div class="{{ layout }}__inner content-width">
            {% if image %}
                <figure class="{{ layout }}__image">
                    <img src="{{ image.sizes.thumbnail }}" alt="{{ image.alt }}">
                </figure>
            {% endif %}
            <h3 class="{{ layout }}__heading">{{ heading }}</h3>
            <div class="{{ layout }}__content">{{ content }}</div>
            {% if link %}
                <a href="{{ link.url }}" class="{{ layout }}__button button">
                    <span>{{ link.title ?: 'Learn More' }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</section>