{#
/*
 * Available variables:
 * - image { 'src', 'alt', sizes{} }
 * - heading
 * - content
 * - asset_type 'video' or 'image'
 * - image { src, alt, sizes }
 * - video - oEmbed
 * - icon - { 'src', 'alt', sizes{} }
 * - appearance - 'light' 'dark'
 * - alignment - 'left' 'center'
 * - block.align - 'full' 'wide'
 */
#}

{% set defaults = {
    heading: '',
    content: '',
    link: false,
    appearance: 'light',
    alignment: 'center',
    css_classes: '',
} %}

{% set heading = heading ?: defaults.heading %}
{% set content = content ?: defaults.content %}
{% set appearance = appearance ?: default.appearance %}
{% set alignment = alignment ?: default.alignment %}
{% set css_classes = block.className ?: default.css_classes %}

{% set base = 'HeroBasic' %}
{% set classes = [
    base,
    base~"--"~appearance,
    base~"--"~alignment,
    css_classes
] %}
<section class="{{ classes|join(' ') }}">
    <div class="container">
        <h2 class="{{ base }}__heading">{{ heading }}</h2>
        {% if subheading %}
            <h3 class="{{ base }}__content">{{ subheading }}</h3>
        {% endif %}
        {% if content %}
            <div class="{{ base }}__content">{{ content }}</div>
        {% endif %}
        {% if link %}
            <div class="{{ base }}__link">
                {% include "Components/Button/ButtonPrimary.twig" with {
                    link: link,
                    appearance: appearance,
                } only %}
            </div>
        {% endif %}
    </div>
</section>