{% set base = 'pagination' %}
<section class="{{ base }}">
    <div class="container">
        <div class="{{ base }}__inner">
            <ul class="{{ base }}__pages">
                {% for page in pages %}
                    <li class="{{ base }}__page">
                        {% if page.link %}
                            <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                        {% else %}
                            <span class="{{ page.class }}">{{ page.title }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if prev %}
                <a class={{ prev.class }} href="{{ prev.link }}">Newer</a>
            {% endif %}
               {% if next %}
                <a class={{ next.class }} href="{{ next.link }}">Older</a>
            {% endif %}
        </div>
    </div>
</section>
