<section class="pagination py-4 m-auto">
	<div class="container">
		<div class="pagination__inner flex justify-center">
			<ul class="pagination__pages flex">
				{% if prev %}
					<a class="pagination__prev {{ prev.class }}" href="{{ prev.link }}">
						<span>Newer</span>
					</a>
				{% endif %}
				{% for page in pages %}
					<li class="pagination__page">
						{% if page.link %}
							<a href="{{ page.link }}" class="{{ page.class }}">
								<span>{{ page.title }}</span>
							</a>
						{% else %}
							<span class="{{ page.class }}">{{ page.title }}</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			{% if next %}
				<a class="pagination__next {{ next.class }}" href="{{ next.link }}">
					<span>Older</span>
				</a>
			{% endif %}
		</div>
	</div>
</section>
